# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#test
server-side/test.cpp
test


# datafile
questions.dat

#vscode
.vscode
client-side/assets/.DS_Store
.gitignore
client-side/assets/img/sprites/.DS_Store
client-side/.DS_Store
client-side/client
.gitignore
client-side/assets/img/.DS_Store
.DS_Store
